body {
    background-color: #EEEEEE;
    margin: 0px;
}

#content {
    width: 900px;
    margin: auto;
    padding: 40px;
    background-color: white;
}

textarea {
    width: 100%;
    resize: vertical;
}

[data-selected="true"] {
    border-width: 0px;
    border-right-width: 3px;
    border-style: solid;
    border-color: #AAAAAA;
    background-color: #FAFAFA;
}

section {
    padding-left: 10px;
}