body {
    background-color: #EEEEEE;
    margin: 0px;
}

#content {
    width: 900px;
    margin: auto;
    padding: 40px;
    background-color: white;
}

textarea {
    width: 100%;
    resize: vertical;
}

[data-selected="true"] {
    border-right: solid 3px #AAAAAA;
    padding-right: 0px;
    background-color: #FAFAFA;
}

section {
    padding-left: 10px;
}

section, p {
    position: relative;
    padding-right: 3px;
}

#node-menu {
    position: absolute;
    right: 0;
    top: 3px;
    z-index: 2;
}

#node-menu a, #toolbar a{
    padding: 2px;
    margin: 2px;
    border: 1px solid #AAAAAA;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

#node-menu a {
    background-color: #FAFAFA;
}

#node-menu a:hover, #toolbar a:hover {
    padding: 2px;
    border: 1px solid black;
}

h1 {
    display: inline;
}

section, p {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 12px;
    padding-bottom: 5px;
}

header textarea {
    font-size: 12pt;
    font-weight: bold;
}

#toolbar:after { /* clearfix */
    content: '';
    display: block;
    clear: both;
}

#undo {
    float: left;
}

#redo {
    float: right;
}