body {
    background-color: #EEEEEE;
    margin: 0px;
}

#content {
    width: 900px;
    margin: auto;
    padding: 40px;
    background-color: white;
}

textarea {
    width: 100%;
    resize: vertical;
}

section {
    padding-left: 10px;
}

section, p {
    position: relative;
    z-index: 1;
}

#selection {
    position: absolute;
    display: block;
    width: calc(100% + 10px);
    left: -5px;
    height: 100%;
    top: 0;
    z-index: -1;

    border: 1px navy solid;
    border-radius: 5px;
}

#node-anchor {
    position: absolute;
    right: -5px;
    top: 5px;
    z-index: 2;
}

#node-anchor > a, #toolbar a{
    padding: 2px;
    margin: 2px;
    border: 1px solid #AAAAAA;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

#node-anchor > a {
    background-color: #FAFAFA;
}

 #toolbar a:hover {
    border-color: black;
}

#node-anchor > a:hover {
    border-color: navy;
}

#node-menu {
    display: block;
    border: 1px solid black;
    background: #FFFFFF;
    position: absolute;
    z-index: 3;
}

#node-menu a {
    display: block;
    text-decoration: none;
    padding: 2px;
    color: black;
}

#node-menu a:hover {
    background: navy;
    color: #FFFFFF;
}

h1 {
    display: inline;
}

section, p {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 12px;
    padding-bottom: 5px;
}

header textarea {
    font-size: 12pt;
    font-weight: bold;
}

#toolbar:after { /* clearfix */
    content: '';
    display: block;
    clear: both;
}

#undo {
    float: left;
}

#redo {
    float: right;
}